.search-form {
  text-align: center;
}

.search-bar {
}

.recipe-card {
  height: 15rem;
  width: 25rem;
  overflow: scroll;
  padding: 0.5rem;
  margin: 4px 8px;
}

.card-group {
  margin: 0% 10%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
